#title, #content{
    font-family: 'Open Sans';
    margin: auto;
    text-align: center;
    
}

#title{
    padding-right: 3%;
}

.vis{
    padding-top: 12px;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title{
    text-align: center;
}

#continentLines, #map{
    width: 100%;
    margin: 0 auto;

}

.vega-bindings{
    display: block;
    text-align: center;
}

.context{
    text-align: center;
    color:#565657;    
    padding-top: 1%;
    font-size: 15px;
    padding-right:10%;
}

.leftBlock{
    margin-left: 14%;
    padding: 15px;
    width: 35%;
    float: left;
}

.rightBlock{
    margin-right: 8%;
    padding: 15px;
    width: 35%;
    float: right;
}

.singleBlock{
    margin-left: 16%;
    padding: 5px;
    width: 77%;
    float: left;
}

#subtitle{
    padding-top: 7%;
    padding-right: 5%;
}

.vega-embed.has-actions {
    padding-left: 0px;
}

#stackedB{
    padding-left: 21px;
}

.u{
    color: #2EEB27;
    text-shadow: #000 0px 0px 1px;;
}

#main{
    padding-left: 4%;
}