#title, #content{
    font-family: 'Open Sans';
    margin: auto;
    
}

.vis{
    padding-top: 24px;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title{
    text-align: center;
}

#continentLines, #map{
    width: 100%;
    margin: 0 auto;

}


.vega-bindings{
    display: block;
    text-align: center;
}

.context{
    text-align: center;
    
}

.leftBlock{
    margin-left: 15%;
    padding: 20px;
    width: 30%;
    float: left;
}

.rightBlock{
    margin-right: 15%;
    padding: 20px;
    width: 30%;
    float: right;
}

#subtitle{
    padding-top: 10%;
}