#title, #content{
    font-family: 'Open Sans';
    margin: auto;
    text-align: center;
    
}

.vis{
    padding-top: 12px;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title{
    text-align: center;
}

#continentLines, #map{
    width: 100%;
    margin: 0 auto;

}

.vega-bindings{
    display: block;
    text-align: center;
}

.context{
    text-align: center;
    color:#565657;    
    padding-top: 1%;
    font-size: 15px;
}

.leftBlock{
    margin-left: 15%;
    padding: 20px;
    width: 30%;
    float: left;
}

.rightBlock{
    margin-right: 18%;
    padding: 20px;
    width: 30%;
    float: right;
}

.singleBlock{
    margin-left: 16%;
    padding: 5px;
    width: 65%;
    float: left;
}

#subtitle{
    padding-top: 9%;
}

.vega-embed.has-actions {
    padding-left: 0px;
}

#stackedB{
    padding-left: 21px;
}

.u{
    color: #2EEB27;
    text-shadow: #000 0px 0px 2px;;
}